<div class="index-page">
  <% @articles.each do |article| %>
  <div class="my-card">
    <div class="image-card">
      <%= cl_image_tag article.photo.key,  crop: :fill %>
    </div>
    <div class="index-content">
      <%= link_to article_path(article) do  %>
      <div class= "titleIndex"> <%= article.title %></div>
      <% end %>
      <div class="divider"></div>

      <!-- TAGS -->
      <div class="index-tags">
        <% article.category.split(",").each do |cat| %>
          <p class="index-tag"><%=cat%></p>
        <% end %>
      </div>

      <!-- Text -->
      <div class="index-text">
        <p> <%= article.content[0..150] %>...
        </p>
      </div>
    </div>
    <div class="buttons-index">

      <%# BTN Delete %>
      <div class="buttonChou">
        <div id = "delete-btn">
          <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/croix_violette-09_aoctix") %>
        </div>
        <div class = "btn-index"></div>
      </div>

      <%# BTN SAVE (chou) %>
      <div class="buttonChou">
        <div id = "btn-readLater" data-article=<%= article.id%>>
          <% if user_signed_in? && current_user.is_saved?(article) %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/eyes-25_ctwfof") %>
          <% else %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-05_yy0ug9") %>
          <% end %>
        </div>
        <div class = "btn-index"></div>
      </div>

      <%# BTN Valider %>
      <div class="buttonChou">
        <%= link_to article_path(article) do  %>
        <div id = "btn-save">
          <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/valide_violette-11_pgap4q")%>
          <% end %>
        </div>
        <div class = "btn-index"></div>
      </div>
    </div>
  </div>
  <% end %>
  <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/preview_q1r40p", class: "chouquette") %>
</div>
