
<% @articles.each do |article| %>
<div class="index-page">
  <div class="index-card">
    <div class="image-card">
      <%= cl_image_tag article.photo.key,  crop: :fill %>
    </div>
    <div class="index-content">
      <%= link_to article_path(article) do  %>
        <div class= "title"> <%= article.title %></div>
      <% end %>
      <span class="divider"></span>
      <div class="index-tags">
        <% article.category.split(",").each do |cat| %>
        <p class="index-tag">#<%= cat %></p>
        <% end %>
      </div>
      <div class="index-text">
        <p> <%= article.content[0..200] %></p>
      </div>
    </div>
  </div>
</div>
<% end %>