
<div class="index-page">

  <% @articles.each do |article| %>
      <div class="my-card">
        <div class="image-card">
          <%= cl_image_tag article.photo.key,  crop: :fill %>
        </div>
        <div class="index-content">
          <%= link_to article_path(article) do  %>
            <div class= "title"> <%= article.title %></div>
          <% end %>
          <div class="divider"></div>
          <div class="index-tags">
            <% article.category.split(",").each do |cat| %>
            <p class="index-tag">#<%= cat %></p>
            <% end %>
          </div>
          <div class="index-text">
            <p> <%= article.content[0..150] %>... 
              <a  href="articles/<%=article.id%>">LIRE LA SUITE</a> 
              </p>
          </div>
        </div>
        <div class="buttons-index">
          <%# BTN DElete %>
          <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-09_ipu2g2",  id:"delete-btn", class: "btn-index") %>  
          <%# BTN SAVE %>

            <% if user_signed_in? && !current_user.find_interaction(article)  %> <%# SI article deja save => affiche pas le boutton%>
              <%= link_to  article_interactions_path(article), method: "post" do %>
                <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-05_yy0ug9",  class: "btn-index", id: "btn-save") %>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <% end %>
            <% end %>
          <%# BTN Valider %>
          <%= link_to article_path(article) do  %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-11_sro6wu", class: "btn-index")%>
          <% end %>
        </div>
      </div>
  <% end %>
  <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/preview_q1r40p",class: "chouquette") %>
</div>