<%= render  "shared/navbar" %>
<h1>Body</h1>
<% @articles_liked.each do |article| %>
  <%= article.title %>
  <img src="<%= @article.photo.url %>">
<% end %>

<%# @articles_read.each do |article| %>
  <%#= article.title %>
  <%# <img src="<%= @article.photo.url %>
<%# end %>

<% @articles_saved.each do |article| %>
  <%= article.title %>
  <img src="<%= @article.photo.url %>">
<% end %>
