<div class="background">
  <!-- image top + fleche back -->
  <div class="picture-up">
    <div>
      <%= link_to :back do %>
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-02_l9qj3t", class: "fleche-back")%>
      <% end %>
    </div>
    <%= cl_image_tag @article.photo.key, height: 300, crop: :fill %>
  </div>
  <!-- card blanche -->
  <div class="card-white">
    <div class= "title"> <%= @article.title %></div>
    <div class="divider"></div>
    <div class="date-creation">
      <%= @article.created_at.localtime.strftime("Le %d/%m/%Y à %k:%M") %>
    </div>
    <div class="time-read">
      <p>Temps de lecture 4 min</p>
    </div>
    <div class="text">
      <p> <%= @article.content %></p>
    </div>
    <!-- boutons de bas de page -->
    <div>
      <div class="btn-index" id="claps">
        <%= link_to article_interactions_path(@article), method: "post" do %>
        <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-22_pvbo9y") %>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <% end %>
      </div>
      <div class="btn-index" id="chou">
        <%= link_to article_interactions_path(@article), method: "post" do %>
        <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-05_yy0ug9") %>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <% end %>
      </div>
    </div>
  </div>
</div>
