<div class="background">
  <!-- image top + fleche back -->
  <div class="picture-up" style="background-image: url('<%= cl_image_path @article.photo.key, :height => 300, crop: :fill %>');">
    <div>
      <%= link_to articles_path do %>
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-02_hqmgxf", class: "fleche-back")%>
      <% end %>
    </div>
  </div>
  <!-- card blanche -->
  <div class="card-white" data-article=<%= @article.id%>>
    <div class= "title"> <%= @article.title %></div>
    <div class="divider"></div>
    <div class="date-creation">
      <%= @article.created_at.localtime.strftime("Le %d/%m/%Y à %k:%M") %>
    </div>
    <div class="time-read">
      <p>Temps de lecture 4 min</p>
    </div>
    <div class="text">
      <p> <%= @article.content %></p>
    </div>
    <div class="conteuhnaire">
      <!-- Button Cabbage leaf - Read later -->
      <% if params[:to] %>
        <%= link_to account_path, class: "btn-index-chou" do %>
          <%= cl_image_tag "The Cabbage Leaf/LOGO - PICTO/violette_arrow-16_qsiuse", class: "fleche-back-chou" %>
        <% end %>
        <%= link_to article_interactions_like_path(@article, to: "home"), class: "btn-index-chou" do %>
          <% if user_signed_in? && current_user.is_liked?(@article) %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/clap_click-26_oovvwp") %>
          <% else %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/mains_vfqptj") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to article_interactions_read_later_path(@article), class: "btn-index-chou" do %>
          <% if @article.interactions.count > 0 %>
            <% if @article.interactions.first.read_later %>
             <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/feuille_de_chou-click-24_hlr1ro") %>
            <% else %>
              <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-05_yy0ug9")%>
            <% end %>
          <% else %>
              <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-05_yy0ug9")%>
          <% end %>
        <% end %>
        <%= link_to article_interactions_like_path(@article), class: "btn-index-chou" do %>
          <% if user_signed_in? && current_user.is_liked?(@article) %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/clap_click-26_oovvwp") %>
          <% else %>
            <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/mains_vfqptj") %>
          <% end %>
        <% end %>
      <% end %>

      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    </div>
    <!-- tags de bas de page -->
    <div class="tag">
      <% @article.category.split(",").each do |cat| %>
      <p class="texte-tag">#<%= cat %></p>
      <% unless @article.category.split(",").index(cat) == (@article.category.split(",").count - 1) %>
      <p class="pipe">|</p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
