<div class="background">
  <!-- image top + fleche back -->
  <div class="picture-up" style="background-image: url('<%= cl_image_path @article.photo.key, :height => 300, crop: :fill %>');">
    <div>
      <%= link_to articles_path do %>
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-02_hqmgxf", class: "fleche-back")%>
      <% end %>
    </div>
  </div>
  <!-- card blanche -->
  <div class="card-white" data-article=<%= @article.id%>>
    <div class= "title"> <%= @article.title %></div>
    <div class="divider"></div>
    <div class="date-creation">
      <%= @article.created_at.localtime.strftime("Le %d/%m/%Y à %k:%M") %>
    </div>
    <div class="time-read">
      <p>Temps de lecture 4 min</p>
    </div>
    <div class="text">
      <p> <%= @article.content %></p>
    </div>

    <!-- Button Applause -->
    <div class="conteuhnaire">
      <div class="buttonChou">
        <div id="claps">
        <%= link_to article_interactions_like_path(@article) do %>
          <% if user_signed_in? && current_user.is_liked?(@article) %>
              <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/clap_clic-21_vcjc8v") %>
          <% else %>
              <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/mains_vfqptj") %>
          <% end %>
        <% end %>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        </div>
        <div class="btn-index"></div>
      </div>

      <!-- Button Cabbage leaf - Read later -->
      <div class="buttonChou">
        <%= link_to article_path(@article) do  %>
        <div id = "btn-save">
          <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/valide_violette-11_pgap4q")%>
          <% end %>
        </div>
        <div class = "btn-index"></div>
      </div>
    </div>

    <!-- tags de bas de page -->
    <div class="tag">
      <% @article.category.split(",").each do |cat| %>
      <p class="texte-tag">#<%= cat %></p>
        <% unless @article.category.split(",").index(cat) == (@article.category.split(",").count - 1) %>
        <p class="pipe">|</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
