<div id="carousel-thingy" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
  <div class="item active">
    <ul class="reset clearfix">
    <% articles.each do |item| %>
      <% if item == articles.first %>
        <li class="prod1">
          <input type="radio" name="product" id="product-<%=item.id%>" value="a" checked>
            <label for="product-<%=item.id%>">  
            <img src="<%=item.photo.url%>" alt="...">
          </label>
        </li>
      <% else %>
          <li class="prod1">
            <input type="radio" name="product" id="product-<%=item.id%>" value="a" >
            <label for="product-<%=item.id%>">  
            <img src="<%=item.photo.url%>" alt="...">
            </label>
          </li>
      <% end %>
    <% end %>
  </ul>
</div>
      