<div class="account-head">
  <div class="edit-button">EDIT
    <a href=""></a>
  </div>
  <%# <%= render  "pages/select" %>
  <div class="account-page">
    <div class="cercle">
      <div class="account-photo">
        <img src="https://res.cloudinary.com/df310vkui/image/upload/v1616440202/The%20Cabbage%20Leaf/Photo_500x500_rdon4q.jpg" alt="photo profil">
      </div>
    </div>
    <div class="leaf-left">
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_Leaf-09_u7ezti") %>
    </div>
    <div class="leaf-right">
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_Leaf-07_uizvag") %>
    </div>
    <div class="account-info">
      <h3 class="account-name"><%= current_user.username %></h3>
      <p>Graphic Designer <br> UX, UI Designer à votre service</p>

      <!-- JS dropdow -->
      <form class="dropdown" action="/filter" method="get">
        <select placeholder="Trier par Tag" name="categorie" id="subject_input" required>
          <option disabled hidden selected>Trier par tag</option>
          <option>Toutes</option>
          <% Article::CATEGORIES.sort.each do |cat| %>
          <option><%= cat %></option>
          <% end %>
        </select>
        <button type="submit" class="hidden-dropdow" id="button-tag"></button>
      </form>

    </div>
  </div>

  <!-- Card blanche -->
  <% @articles.each do |article| %>
  <div class="account-card">
    <img src="<%=article.photo.url%>" alt="" class="img-card-top">
    <%= link_to article_path(article, to: "home") do  %>
    <h4 class="title"><%= article.title %></h4>
    <% end %>
    <div class="divider"></div>
    <div class="index-tags">
      <% article.category.split(",").each do |cat| %>
      <p class="index-tag">#<%= cat %></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<!-- JS dropdow -->
<script>
const dropdown = document.querySelector('#subject_input');
const dropdownButton = document.querySelector('#button-tag');
dropdown.addEventListener("change", () => {
dropdownButton.click();
});
</script>
