<div class="account-page">
  <div class="account-profil">
    <div class="account-photo">   
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.cOyOI9NJ5DnPb12SDg0_UQHaKi%26pid%3DApi&f=1" alt="" srcset="">
    </div>
    <h3 class="account-name"><%= current_user.username %></h3>
    <p>je sais pas</p>
    <%= render  "pages/select" %>
  </div>
  <% @articles.each do |article| %>
    <div class="account-card">
      <img src="<%=article.photo.url%>" alt="" class="img-card-top">
      <%= link_to article_path(article) do  %>
        <h4 class="account-card-title"><%= article.title %></h4>
      <% end %>
      <div class="divider"></div>
      <div class="index-tags">
            <% article.category.split(",").each do |cat| %>
            <p class="index-tag">#<%= cat %></p>
            <% end %>
      </div>
    </div>
  <% end %>


</div>