  <div class="account-head">
    <%# <%= render  "pages/select" %>
  </div>
<div class="account-page">
    <div class="account-photo">   
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.cOyOI9NJ5DnPb12SDg0_UQHaKi%26pid%3DApi&f=1" alt="" srcset="">
    </div>
    <div class="leaf-left">
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_Leaf-09_u7ezti") %>
    </div>
    <div class="leaf-right">
      <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_Leaf-07_uizvag") %>      
    </div>
    <div class="account-info">
      <h3 class="account-name"><%= current_user.username %></h3>
      <p>SDF</p>

      <form action="/filter" method="get">
        <select placeholder="Trier par Tag" name="categorie" id="subject_input" required>
          <option disabled hidden selected>Trier par Tag</option>
            <option>Tout(e)s</option>
            <% Article::CATEGORIES.each do |cat| %>
              <option><%= cat %></option>
            <% end %>
        </select>
        <button type="submit">Search</button>
      </form>      
    </div>
  <% @articles.each do |article| %>
    <div class="account-card">
      <img src="<%=article.photo.url%>" alt="" class="img-card-top">
      <%= link_to article_path(article) do  %>
        <h4 class="title"><%= article.title %></h4>
      <% end %>
      <div class="divider"></div>
      <div class="index-tags">
            <% article.category.split(",").each do |cat| %>
            <p class="index-tag">#<%= cat %></p>
            <% end %>
      </div>
    </div>
  <% end %>


</div>